.subtitle{
    text-align: center;
    color: #0073ff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}
.item{
    width: 300px;
    border: solid 1px #0073ff;
    border-radius: 10px;
}
.text{
    text-align: center;
}
.delete{
    display: block;
    margin: 20px auto;
    border: solid 1px #0073ff;
    border-radius: 5px;
    padding: 5px;
}